name: melange

on:
  push:
    # Pattern matched against refs/tags
    tags:        
      - '**'           # Push events to every tag including hierarchical tags like v1.0/beta

permissions:
  contents: write
  # packages: write
  # issues: write
  # id-token: write

jobs:
  melange:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
        
    - name: Set up melange
      run: go install chainguard.dev/melange@latest

    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Prepare melange build
      run: | 
        echo "${{ secrets.MELANGE_RSA_KEY }}" > ${{ runner.temp }}/melange.rsa 
        
        sudo apt-get update -y
        sudo apt-get install -y bubblewrap

        sudo sysctl -w kernel.apparmor_restrict_unprivileged_unconfined=0
        sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
  
    - name: clone apk repository
      uses: actions/checkout@v4
      with:
        repository: denglertai/apk
        ref: 'gh-pages'
        path: ./apk
        token: '${{ secrets.APK_REPO_TOKEN }}'

    - name: Run melange
      run: melange build melange.yaml --out-dir ./apk --arch=x86_64 --signing-key ${{ runner.temp }}/melange.rsa
    
    - name: Commit changes
      run: |
        cp ./melange.rsa.pub ./apk/melange.rsa.pub

        cd ./apk
        git config --global user.email "${{ github.actor }}"
        git config --global user.name "${{ github.actor }}@users.noreply.github.com"
        git add .
        git commit -m "Update apk for gonfig@${{ github.ref }}"
        git push
      env:
        GITHUB_TOKEN: "${{ secrets.APK_REPO_TOKEN }}"